#newsletter {
  left: 5rem;
  right: 5rem;
  background: #ffffff;
  border-radius: 3rem;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 4rem;
  margin-top: -8rem;
}

#newsletter h2 {
  color: #000000;
  flex: 2;
}

#newsletter div {
  flex: 3;
  display: flex;
  border: 0.2rem #aa367c solid;
  border-radius: 1.2rem;
  padding: 0.3rem 0.3rem 0.3rem 2rem;
}

#newsletter input {
  width: 100%;
  font-size: 1.1rem;
  border: none;
  outline: none;
}

#newsletter button {
  color: #ffffff;
  font-weight: bold;
  background: linear-gradient(to right, #4a2fbd, #aa367c);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  padding: 1rem 2.5rem;
}

#newsletter button:hover {
  background: linear-gradient(to right, #aa367c, #4a2fbd);
}
